@media screen and (max-width: 900px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;

    }
}

@media screen and (max-width: 900px) {
    #desktop-home {
        display: none;
    }
    #small-home {
        display: flex;
    }
}



